<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yashbohara.sample">
<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Register" />
        <activity
            android:name=".Pdashboard"
            android:label="@string/title_activity_pdashboard"
            android:theme="@style/AppTheme" />
        <activity android:name=".Udashboard" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Payment" />
        <activity android:name=".Webview" />
        <activity android:name=".FilterFine" />
        <activity android:name=".Amount" />
        <activity android:name=".OfflineChallan" />
        <activity android:name=".Online" />
        <activity android:name=".Policedetails" />
        <activity android:name=".Userdetails" />
        <activity android:name=".User_Payment_List" />
        <activity android:name=".Police_Log_List" />
        <activity android:name=".NumberplateText" />
        <activity android:name=".Reciept"></activity>
    </application>

</manifest>